Scraping the finnish Wikipedia page of Leonardo diCaprio

https://fi.wikipedia.org/wiki/Leonardo_DiCaprio

Goal is to get the 'filmography' table into PD Dataframe

The code isn't very clean, I only use it as notes for other projects

Tools: First with pandas HTML reader, below with BeautifulSoup

In [15]:
import pandas as pd

In [127]:
tables = pd.read_html('https://fi.wikipedia.org/wiki/Leonardo_DiCaprio')

We get four tables from the row above:

In [128]:
len(tables)

4

The table of interest turned out to be the second one stored in 'tables':

-I changed the titles to english

In [129]:
df = tables[1]

In [130]:
new_column_names = ['year', 'name_fin', 'name', 'role']
df.columns = new_column_names

In [132]:
df.head(20)

,year,name_fin,name,role
0,1991,Critters 3 – nakertajien paluu,Critters 3: You Are What They Eat,Josh
1,1992,Himon vallassa,Poison Ivy,Guy
2,1993,Gilbert Grape,What’s Eating Gilbert Grape,Arnie Grape
3,1993,Tämän pojan elämä,This Boy’s Life,Toby
4,1994,The Foot Shooting Party,The Foot Shooting Party,Bud
5,1995,Total Eclipse,Total Eclipse,Arthur Rimbaud
6,1995,New Yorkin kadut,The Basketball Diaries,Jim Carroll
7,1995,Nopeat ja kuolleet,The Quick and the Dead,The Kid
8,1996,Marvinin tyttäret,Marvin’s Room,Hank
9,1996,William Shakespearen Romeo ja Julia,Romeo + Juliet,Romeo
10,1997,Titanic,Titanic,Jack Dawson
11,1998,Celebrity – kuuluisuus,Celebrity,Brandon Darrow
12,1998,Rautanaamio,The Man in the Iron Mask,kuningas Ludvig XIV/Filip
13,2000,The Beach,The Beach,Richard
14,2001,Don’s Plum,Don’s Plum,Derek
15,2002,Ota kiinni jos saat,Catch Me If You Can,Frank Abagnale Jr.
16,2002,Gangs of New York,Gangs of New York,Amsterdam Vallon
17,2004,Lentäjä,The Aviator,Howard Hughes
18,2006,Blood Diamond – veritimantti,Blood Diamond,Danny Archer
19,2006,The Departed,The Departed,Billy Costigan

In [133]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   year      33 non-null     int64
 1   name_fin  33 non-null     object
 2   name      33 non-null     object
 3   role      33 non-null     object
dtypes: int64(1), object(3)
memory usage: 1.2+ KB

Now the same with BeautifulSoup:

In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
url = 'https://fi.wikipedia.org/wiki/Leonardo_DiCaprio'

In [3]:
r = requests.get(url)

In [4]:
html_doc = r.text

In [5]:
soup = BeautifulSoup(html_doc)

In [37]:
#checking that the contents are right
#print(soup.prettify())

By examining the page's source code, we find that our table has the following tag:

In [7]:
soup.find_all('table', class_ = 'wikitable')

[<table class="wikitable" style="font-size:90%">
 <tbody><tr style="text-align:center;">
 <th colspan="4" style="background:#B0C4DE;">Elokuvat
 </th></tr>
 <tr style="text-align:center;">
 <th style="background:#ccc;">Vuosi
 </th>
 <th style="background:#ccc;">Suomenkielinen nimi
 </th>
 <th style="background:#ccc;">Alkuperäinen nimi
 </th>
 <th style="background:#ccc;">Rooli
 </th></tr>
 <tr>
 <td><a href="/wiki/Elokuvavuosi_1991" title="Elokuvavuosi 1991">1991</a></td>
 <td><i><a class="new" href="/w/index.php?title=Critters_3_%E2%80%93_nakertajien_paluu&amp;action=edit&amp;redlink=1" title="Critters 3 – nakertajien paluu (sivua ei ole)">Critters 3 – nakertajien paluu</a></i></td>
 <td><i>Critters 3: You Are What They Eat</i></td>
 <td>Josh
 </td></tr>
 <tr>
 <td><a href="/wiki/Elokuvavuosi_1992" title="Elokuvavuosi 1992">1992</a></td>
 <td><i><a class="new" href="/w/index.php?title=Himon_vallassa&amp;action=edit&amp;redlink=1" title="Himon vallassa (sivua ei ole)">Himon vallassa</a></i></td>
 <td><i>Poison Ivy</i></td>
 <td>Guy
 </td></tr>
 <tr>
 <td rowspan="2"><a href="/wiki/Elokuvavuosi_1993" title="Elokuvavuosi 1993">1993</a></td>
 <td><i><a href="/wiki/Gilbert_Grape" title="Gilbert Grape">Gilbert Grape</a></i></td>
 <td><i>What’s Eating Gilbert Grape</i></td>
 <td>Arnie Grape
 </td></tr>
 <tr>
 <td><i><a class="new" href="/w/index.php?title=T%C3%A4m%C3%A4n_pojan_el%C3%A4m%C3%A4&amp;action=edit&amp;redlink=1" title="Tämän pojan elämä (sivua ei ole)">Tämän pojan elämä</a></i></td>
 <td><i>This Boy’s Life</i></td>
 <td>Toby
 </td></tr>
 <tr>
 <td><a href="/wiki/Elokuvavuosi_1994" title="Elokuvavuosi 1994">1994</a></td>
 <td colspan="2"><i><a class="new" href="/w/index.php?title=The_Foot_Shooting_Party&amp;action=edit&amp;redlink=1" title="The Foot Shooting Party (sivua ei ole)">The Foot Shooting Party</a></i></td>
 <td>Bud
 </td></tr>
 <tr>
 <td rowspan="3"><a href="/wiki/Elokuvavuosi_1995" title="Elokuvavuosi 1995">1995</a></td>
 <td colspan="2"><i><a href="/wiki/Total_Eclipse" title="Total Eclipse">Total Eclipse</a></i></td>
 <td><a href="/wiki/Arthur_Rimbaud" title="Arthur Rimbaud">Arthur Rimbaud</a>
 </td></tr>
 <tr>
 <td><i><a href="/wiki/New_Yorkin_kadut" title="New Yorkin kadut">New Yorkin kadut</a></i></td>
 <td><i>The Basketball Diaries</i></td>
 <td>Jim Carroll
 </td></tr>
 <tr>
 <td><i><a href="/wiki/Nopeat_ja_kuolleet" title="Nopeat ja kuolleet">Nopeat ja kuolleet</a></i></td>
 <td><i>The Quick and the Dead</i></td>
 <td>The Kid
 </td></tr>
 <tr>
 <td rowspan="2"><a href="/wiki/Elokuvavuosi_1996" title="Elokuvavuosi 1996">1996</a></td>
 <td><i><a href="/wiki/Marvinin_tytt%C3%A4ret" title="Marvinin tyttäret">Marvinin tyttäret</a></i></td>
 <td><i>Marvin’s Room</i></td>
 <td>Hank
 </td></tr>
 <tr>
 <td><i><a href="/wiki/William_Shakespearen_Romeo_ja_Julia" title="William Shakespearen Romeo ja Julia">William Shakespearen Romeo ja Julia</a></i></td>
 <td><i>Romeo + Juliet</i></td>
 <td><a href="/wiki/Romeo" title="Romeo">Romeo</a>
 </td></tr>
 <tr>
 <td><a href="/wiki/Elokuvavuosi_1997" title="Elokuvavuosi 1997">1997</a></td>
 <td colspan="2"><i><a href="/wiki/Titanic_(vuoden_1997_elokuva)" title="Titanic (vuoden 1997 elokuva)">Titanic</a></i></td>
 <td>Jack Dawson
 </td></tr>
 <tr>
 <td rowspan="2"><a href="/wiki/Elokuvavuosi_1998" title="Elokuvavuosi 1998">1998</a></td>
 <td><i><a href="/wiki/Celebrity" title="Celebrity">Celebrity – kuuluisuus</a></i></td>
 <td><i>Celebrity</i></td>
 <td>Brandon Darrow
 </td></tr>
 <tr>
 <td><i><a href="/wiki/Rautanaamio_(vuoden_1998_elokuva)" title="Rautanaamio (vuoden 1998 elokuva)">Rautanaamio</a></i></td>
 <td><i>The Man in the Iron Mask</i></td>
 <td>kuningas <a href="/wiki/Ludvig_XIV" title="Ludvig XIV">Ludvig XIV</a>/Filip
 </td></tr>
 <tr>
 <td><a href="/wiki/Elokuvavuosi_2000" title="Elokuvavuosi 2000">2000</a></td>
 <td colspan="2"><i><a href="/wiki/The_Beach" title="The Beach">The Beach</a></i></td>
 <td>Richard
 </td></tr>
 <tr>
 <td><a href="/wiki/Elokuvavuosi_2001" title="Elokuvavuosi 2001">2001</a></td>
 <td colspan="2"><i><a href="/wiki/Don%E2%80%99s_Plum" title="Don’s Plum">Don’s Plum</a></i></td>
 <td>Derek
 </td></tr>
 <tr>
 <td rowspan="2"><a href="/wiki/Elokuvavuosi_2002" title="Elokuvavuosi 2002">2002</a></td>
 <td><i><a href="/wiki/Ota_kiinni_jos_saat" title="Ota kiinni jos saat">Ota kiinni jos saat</a></i></td>
 <td><i>Catch Me If You Can</i></td>
 <td><a href="/wiki/Frank_Abagnale" title="Frank Abagnale">Frank Abagnale Jr.</a>
 </td></tr>
 <tr>
 <td colspan="2"><i><a href="/wiki/Gangs_of_New_York" title="Gangs of New York">Gangs of New York</a></i></td>
 <td>Amsterdam Vallon
 </td></tr>
 <tr>
 <td><a href="/wiki/Elokuvavuosi_2004" title="Elokuvavuosi 2004">2004</a></td>
 <td><i><a href="/wiki/Lent%C3%A4j%C3%A4_(elokuva)" title="Lentäjä (elokuva)">Lentäjä</a></i></td>
 <td><i>The Aviator</i></td>
 <td><a href="/wiki/Howard_Hughes" title="Howard Hughes">Howard Hughes</a>
 </td></tr>
 <tr>
 <td rowspan="2"><a href="/wiki/Elokuvavuosi_2006" title="Elokuvavuosi 2006">2006</a></td>
 <td><i><a href="/wiki/Blood_Diamond_%E2%80%93_veritimantti" title="Blood Diamond – veritimantti">Blood Diamond – veritimantti</a></i></td>
 <td><i>Blood Diamond</i></td>
 <td>Danny Archer
 </td></tr>
 <tr>
 <td colspan="2"><i><a href="/wiki/The_Departed" title="The Departed">The Departed</a></i></td>
 <td>Billy Costigan
 </td></tr>
 <tr>
 <td><a href="/wiki/Elokuvavuosi_2007" title="Elokuvavuosi 2007">2007</a></td>
 <td><i><a href="/wiki/Yhdestoista_hetki" title="Yhdestoista hetki">Yhdestoista hetki</a></i></td>
 <td><i>The 11th hour</i></td>
 <td>juontaja
 </td></tr>
 <tr>
 <td rowspan="2"><a href="/wiki/Elokuvavuosi_2008" title="Elokuvavuosi 2008">2008</a></td>
 <td><i><a class="new" href="/w/index.php?title=Valheiden_verkko&amp;action=edit&amp;redlink=1" title="Valheiden verkko (sivua ei ole)">Valheiden verkko</a></i></td>
 <td><i>Body of Lies</i></td>
 <td>Roger Ferris
 </td></tr>
 <tr>
 <td colspan="2"><i><a href="/wiki/Revolutionary_Road" title="Revolutionary Road">Revolutionary Road</a></i></td>
 <td>Frank Wheeler
 </td></tr>
 <tr>
 <td rowspan="2"><a href="/wiki/Elokuvavuosi_2010" title="Elokuvavuosi 2010">2010</a></td>
 <td><i><a href="/wiki/Suljettu_saari" title="Suljettu saari">Suljettu saari</a></i></td>
 <td><i>Shutter Island</i></td>
 <td>Teddy Daniels
 </td></tr>
 <tr>
 <td colspan="2"><i><a href="/wiki/Inception" title="Inception">Inception</a></i></td>
 <td>Dom Cobb
 </td></tr>
 <tr>
 <td><a href="/wiki/Elokuvavuosi_2011" title="Elokuvavuosi 2011">2011</a></td>
 <td colspan="2"><i><a href="/wiki/J._Edgar" title="J. Edgar">J. Edgar</a></i></td>
 <td><a href="/wiki/J._Edgar_Hoover" title="J. Edgar Hoover">J. Edgar Hoover</a>
 </td></tr>
 <tr>
 <td><a href="/wiki/Elokuvavuosi_2012" title="Elokuvavuosi 2012">2012</a></td>
 <td colspan="2"><i><a href="/wiki/Django_Unchained" title="Django Unchained">Django Unchained</a></i></td>
 <td>Calvin Candie
 </td></tr>
 <tr>
 <td rowspan="2"><a href="/wiki/Elokuvavuosi_2013" title="Elokuvavuosi 2013">2013</a></td>
 <td><i><a href="/wiki/The_Great_Gatsby_%E2%80%93_Kultahattu" title="The Great Gatsby – Kultahattu">The Great Gatsby – Kultahattu</a></i></td>
 <td><i>The Great Gatsby</i></td>
 <td>Jay Gatsby
 </td></tr>
 <tr>
 <td colspan="2"><i><a href="/wiki/The_Wolf_of_Wall_Street" title="The Wolf of Wall Street">The Wolf of Wall Street</a></i></td>
 <td><a href="/wiki/Jordan_Belfort" title="Jordan Belfort">Jordan Belfort</a>
 </td></tr>
 <tr>
 <td><a href="/wiki/Elokuvavuosi_2015" title="Elokuvavuosi 2015">2015</a></td>
 <td colspan="2"><i><a href="/wiki/The_Revenant" title="The Revenant">The Revenant</a></i></td>
 <td><a href="/wiki/Hugh_Glass" title="Hugh Glass">Hugh Glass</a>
 </td></tr>
 <tr>
 <td><a href="/wiki/Elokuvavuosi_2019" title="Elokuvavuosi 2019">2019</a></td>
 <td colspan="2"><i><a href="/wiki/Once_Upon_a_Time_in_Hollywood" title="Once Upon a Time in Hollywood">Once Upon a Time in Hollywood</a></i></td>
 <td>Rick Dalton
 </td></tr>
 <tr>
 <td><a href="/wiki/Elokuvavuosi_2021" title="Elokuvavuosi 2021">2021</a></td>
 <td colspan="2"><i><a href="/wiki/Don%E2%80%99t_Look_Up" title="Don’t Look Up">Don’t Look Up</a></i></td>
 <td>Randall Mindy
 </td></tr>
 <tr>
 <td><a href="/wiki/Elokuvavuosi_2023" title="Elokuvavuosi 2023">2023</a></td>
 <td colspan="2"><i><a href="/wiki/Killers_of_the_Flower_Moon" title="Killers of the Flower Moon">Killers of the Flower Moon</a></i></td>
 <td>Ernest Burkhart
 </td></tr>
 </tbody></table>]

Turned out later that the code in the previous cell returns a datatype that cannot be used in .find_all() anymore, so I explored its index (1) and used it for subsetting instead using the 'class_':

!!!If you use "subset = soup.find_all('table', class_="wikitable")", the subset will become a result set and cannot be further sliced with find_all or find() methods.

In [8]:
subset = soup.find_all('table')[1]

In [39]:
#another check
#print(subset)

In [10]:
print(type(subset))

<class 'bs4.element.Tag'>

^^That's the type you get with indexing. 

It can be furthed sliced, like below where I want to get the column titles (tag=<th):

In [11]:
titles = subset.find_all('th')

In [12]:
print(titles)

[<th colspan="4" style="background:#B0C4DE;">Elokuvat
</th>, <th style="background:#ccc;">Vuosi
</th>, <th style="background:#ccc;">Suomenkielinen nimi
</th>, <th style="background:#ccc;">Alkuperäinen nimi
</th>, <th style="background:#ccc;">Rooli
</th>]

Now that we have the right table column titles, I will clean them with .text.strip()

The titles list came with the 'Elokuvat' value, which is really the name of the table, removed.

Then, we're ready to make the dataframe, using the column titles from the list:

In [13]:
titles_to_list = [title.text.strip() for title in titles]
titles_to_list.remove('Elokuvat')
print(titles_to_list)

['Vuosi', 'Suomenkielinen nimi', 'Alkuperäinen nimi', 'Rooli']

In [16]:
df2 = pd.DataFrame(columns = titles_to_list)

In [17]:
df2.head()

Empty DataFrame
Columns: [Vuosi, Suomenkielinen nimi, Alkuperäinen nimi, Rooli]
Index: []

In [18]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Vuosi                0 non-null      object
 1   Suomenkielinen nimi  0 non-null      object
 2   Alkuperäinen nimi    0 non-null      object
 3   Rooli                0 non-null      object
dtypes: object(4)
memory usage: 132.0+ bytes

In [38]:
column_data = subset.find_all('tr')
#print(column_data)

Now I have everything I need to scrape the table:

-By examining the html script of the page, I found the table's tag = ('<table', class_ = 'wikitable')
   
-The table of interest was subsetted using index '[1]'

-The column titles '<th' were found with the same exploratory method
    
-The contents were cleaned with .text.strip(), stored into a list and converted into a dataframe columns

-<tr -tags were found to indicate rows, as further filtered above

-<td -tags indicated singular data entries, and they are filled into thebelow

In [36]:
#this loop goes through the column_data and picks the data points using the <td -tag
#stores the values to variable row_data
for row in column_data[2:]:
    row_data = row.find_all('td')
    #This line (below) cleans the data points in row_data and stores them into ind_row_data as a list
    #every round a new list is generated
    ind_row_data = [data.text.strip() for data in row_data]
    #"length" indicates the row index so we can insert the values to it in every round
    length = len(df2)
    #Some lists are missing the 'Vuosi' (index=0) and/or 'Suomenkielinen nimi' (index=1)
    #for example: ['The Departed', 'Billy Costigan'] (Both missing)
    #This because wikipedia's table formatting
    #Solution: 
    try:
        df2.loc[length, df2.columns[0]] = int(ind_row_data[0])
        df2.loc[length, df2.columns[1]] = ind_row_data[1]
    except ValueError:
        df2.loc[length, df2.columns[0]] = df2.loc[length-1, df2.columns[0]]
        df2.loc[length, df2.columns[1]] = ind_row_data[0]
    #Because every row has the english name and the role, 
    #they are easily filled from the back
    df2.loc[length, df2.columns[-1]] = ind_row_data[-1]
    df2.loc[length, df2.columns[-2]] = ind_row_data[-2]

Here it is, the table using BeautifulSoup and a little bit of HTML examination:

In [35]:
df2

,Vuosi,Suomenkielinen nimi,Alkuperäinen nimi,Rooli
0,1991,Critters 3 – nakertajien paluu,Critters 3: You Are What They Eat,Josh
1,1992,Himon vallassa,Poison Ivy,Guy
2,1993,Gilbert Grape,What’s Eating Gilbert Grape,Arnie Grape
3,1993,Tämän pojan elämä,This Boy’s Life,Toby
4,1994,The Foot Shooting Party,The Foot Shooting Party,Bud
5,1995,Total Eclipse,Total Eclipse,Arthur Rimbaud
6,1995,New Yorkin kadut,The Basketball Diaries,Jim Carroll
7,1995,Nopeat ja kuolleet,The Quick and the Dead,The Kid
8,1996,Marvinin tyttäret,Marvin’s Room,Hank
9,1996,William Shakespearen Romeo ja Julia,Romeo + Juliet,Romeo
10,1997,Titanic,Titanic,Jack Dawson
11,1998,Celebrity – kuuluisuus,Celebrity,Brandon Darrow
12,1998,Rautanaamio,The Man in the Iron Mask,kuningas Ludvig XIV/Filip
13,2000,The Beach,The Beach,Richard
14,2001,Don’s Plum,Don’s Plum,Derek
15,2002,Ota kiinni jos saat,Catch Me If You Can,Frank Abagnale Jr.
16,2002,Gangs of New York,Gangs of New York,Amsterdam Vallon
17,2004,Lentäjä,The Aviator,Howard Hughes
18,2006,Blood Diamond – veritimantti,Blood Diamond,Danny Archer
19,2006,The Departed,The Departed,Billy Costigan
20,2007,Yhdestoista hetki,The 11th hour,juontaja
21,2008,Valheiden verkko,Body of Lies,Roger Ferris
22,2008,Revolutionary Road,Revolutionary Road,Frank Wheeler
23,2010,Suljettu saari,Shutter Island,Teddy Daniels
24,2010,Inception,Inception,Dom Cobb
25,2011,J. Edgar,J. Edgar,J. Edgar Hoover
26,2012,Django Unchained,Django Unchained,Calvin Candie
27,2013,The Great Gatsby – Kultahattu,The Great Gatsby,Jay Gatsby
28,2013,The Wolf of Wall Street,The Wolf of Wall Street,Jordan Belfort
29,2015,The Revenant,The Revenant,Hugh Glass
30,2019,Once Upon a Time in Hollywood,Once Upon a Time in Hollywood,Rick Dalton
31,2021,Don’t Look Up,Don’t Look Up,Randall Mindy
32,2023,Killers of the Flower Moon,Killers of the Flower Moon,Ernest Burkhart